td{
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  padding: 1.25rem;
}

#Navigation{
   background-color: #70af85;
}

.navbar-brand{
  font-family: 'GFS Didot', serif;
  font-size: 5rem;
}

.navbar-nav{
  font-family: 'GFS Didot', serif;
  font-size: 1.5rem;
  padding-top:1rem;
}

.nav-item{
  margin: 0 0.5rem;
}

#Intro{
  background-color: #70af85;
  padding-bottom: 2rem;
}

#Qualifications{
  background-color: white;
  margin: 2rem 0;
}

#Qualifications .card{
  font-family: 'Libre Baskerville', serif;
  text-align: center;
}

#Skills{
  background-color: #d4e2d4;
  margin-top: 2rem;
}

#Contact{
  text-align: center;
  margin-top:4rem;
  margin-bottom:2rem;
}

.fa-3x{
  margin:0 3rem;
  color:black;
}

.fa-3x:hover{
    color:blue;
}

.s{
  width:7rem;
  height:7rem;
}

.text{
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.35rem;
}

.profile{
   text-align:center;
   border-radius: 100%;
   height:24.5rem;
   width:25rem;
   margin-left:2rem;
}

@media (max-width:2160px) {

    .navbar-nav{
      text-align: center;
    }

  .s{
    width:3.5rem;
    height:3.5rem;
  }

  .text{
    font-size: 1rem;
    padding: 0 0.1rem;
  }
  .profile{
    margin-left: 15rem;
    margin-right: auto;
    margin-top: 2rem;
    width: 20rem;
    height: 20rem;
  }

  .fa-3x{
    margin:0 1rem;
    color:black;
  }
}
